#container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    
    
}
button{
    font-size:1.5rem;
    padding: 10px 15px;
    background-color: rgb(0, 204, 255);
    font-weight: bold;
}
button:hover{
    background-color: rgb(0, 255, 234);

}
button:active{
     background-color: rgb(0, 255, 221);
}
input{
    font-size: 2rem;
    width:150px;
    text-align: center;
    font-weight: bold;
}
#diceresult{
    margin:25px;
}
#diceimages img{
    width:100px;
    margin:5px;
    padding: 10px 15px;

}
